<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np # for high-level mathematical functions to operate on arrays.
import pandas as pd # for data manipulation and analysis

In [2]:
data = pd.read_csv('Heart.csv', sep = ";")

In [3]:
# Checking for duplicates
duplicate_data = data[data.duplicated()]
duplicate_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1

In [4]:
# Counting the number of duplicate values 
data.duplicated().sum()

1

In [5]:
# Data set length before removing duplicates
len(data)

303

In [6]:
# Removing duplicate data 
data.drop_duplicates(keep='first', inplace=True)

In [7]:
# Data set length after removing duplicates
len(data)

302

In [8]:
# double checking for duplicates 
duplicate_data = data[data.duplicated()]
duplicate_data

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target]
Index: []

In [9]:
# Counting the number of duplicate values 
data.duplicated().sum()

0

In [10]:
# Percentage of missing values
(data.isnull().sum() * 100 / data.shape[0]).sort_values(ascending=False)

target      0.0
thal        0.0
ca          0.0
slope       0.0
oldpeak     0.0
exang       0.0
thalach     0.0
restecg     0.0
fbs         0.0
chol        0.0
trestbps    0.0
cp          0.0
sex         0.0
age         0.0
dtype: float64

In [11]:
# Encode categorical columns with categories for data visualisation understanding 
data = data.replace({'sex': {0 : 'Female', 1: 'Male'},
                              'cp': {0 : 'Typical angina', 1: 'Atypical angina',
                                     2: 'Non-anginal pain', 3: 'Asymptomatic'},
                              'fbs': {0 : 'No', 1: 'Yes'},
                              'restecg': {0 : 'Normal', 1: 'Abnormal', 2: 'Ventricular hypertrophy'},
                              'exang': {0 : 'No', 1: 'Yes'},
                              'slope': {0 : 'Upsloping', 1: 'Flat', 2: 'Downsloping'},
                              'ca': {0 : 'Mild', 1: 'Moderate', 2: 'Mild Severe',
                                     3: 'Moderate Severe', 4: 'Extreme Severe'},
                              'thal': {0 : 'Normal', 1: 'Fixed defect', 2: 'Reversible defect',
                                       3: 'Extra Defect'},
                              'target': {0 : 'No', 1: 'Yes'}})

In [12]:
data.sample(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
6,56,Female,Atypical angina,140,294,No,Normal,153,No,1.3,Flat,Mild,Reversible defect,Yes
136,60,Female,Non-anginal pain,120,178,Yes,Abnormal,96,No,0.0,Downsloping,Mild,Reversible defect,Yes
113,43,Male,Typical angina,110,211,No,Abnormal,161,No,0.0,Downsloping,Mild,Extra Defect,Yes
267,49,Male,Non-anginal pain,118,149,No,Normal,126,No,0.8,Downsloping,Moderate Severe,Reversible defect,No
227,35,Male,Typical angina,120,198,No,Abnormal,130,Yes,1.6,Flat,Mild,Extra Defect,No
219,48,Male,Typical angina,130,256,Yes,Normal,150,Yes,0.0,Downsloping,Mild Severe,Extra Defect,No
264,54,Male,Typical angina,110,206,No,Normal,108,Yes,0.0,Flat,Moderate,Reversible defect,No
89,58,Female,Typical angina,100,248,No,Normal,122,No,1.0,Flat,Mild,Reversible defect,Yes
128,52,Female,Non-anginal pain,136,196,No,Normal,169,No,0.1,Flat,Mild,Reversible defect,Yes
204,62,Female,Typical angina,160,164,No,Normal,145,No,6.2,Upsloping,Moderate Severe,Extra Defect,No

In [13]:
# Save visuailization data
data.to_csv('Heart_Data.csv')